/**
 * videojs-settings-menu
 * @version 0.0.1
 * @copyright 2016 Fruitsapje <hero@streamone.nl>
 * @license MIT
 */
.video-js.vjs-settings-menu{display:block}.video-js .vjs-settings-menu .vjs-menu{font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif}.video-js .vjs-settings-menu .vjs-menu-content{overflow:inherit}.video-js .vjs-settings-menu .vjs-menu-item{text-align:left}.video-js .vjs-settings-menu .vjs-settings-sub-menu-value,.video-js .vjs-settings-menu .vjs-settings-sub-menu-title{display:inline-block;padding:0 5px}.video-js .vjs-settings-menu.vjs-menu-button-popup>.vjs-menu{width:17em;left:-10em}.video-js .vjs-settings-menu.vjs-menu-button-popup .vjs-settings-sub-menu .vjs-menu{left:-10em}.video-js .vjs-settings-menu .vjs-settings-sub-menu .vjs-menu-content{bottom:-1.5em}.video-js .vjs-settings-menu .vjs-settings-sub-menu .vjs-menu-content li{font-size:1em}.video-js .vjs-settings-menu .vjs-settings-sub-menu .vjs-menu-item{text-align:center}.video-js .vjs-settings-sub-menu-title{width:8em;text-transform:initial}
